@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 11, 11, 11;
  --background-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Add some custom styles for form inputs */
input[type="text"],
input[type="email"],
select {
  @apply w-full p-2 border rounded;
}

/* Style the DatePicker component */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  @apply w-full p-2 border rounded;
}

